@import url("kos-colors.css");

window, 
window.csd, 
window.background {
    border-radius: 0; 
}

/* Remove the thick drop-shadow that sometimes renders as a blurry block on X11 compositors */
window.csd {
    box-shadow: none;
}

button {
    border-radius: 2px;
}

modelbutton {
    border-radius: 2px;
}

button.circular {
    border-radius: 9999px; 
}

button.pill {
    border-radius: 2px;
}

popover contents {
    border-radius: 2px;
}

floating-sheet sheet {
    border-radius: 0;
}

.boxed-list,
.boxed-list row {
    border-radius: 2px;
}

/* The about dialog style doesn't work */
window.dialog,
window.messagedialog,
window.dialog.message
window.about,
window.aboutdialog {
    border-radius: 0;
}

